header {
    position: relative;
}

nav {
    height: 50px;
    background: #212121;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.hamburger {
    display: none;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
    

    &_link {
        font-weight: 300;
        font-size: 15px;
        color: #FFFFFF;
    }

    &_item {
        border-right: 2px dashed black;
        padding-right: 28px;
        &:last-child{
        border-right: none;
        }
    }
    
}

.subheader {
    height: 87px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    margin-top: 50px;

    &_logo {
        display: block;
        min-width: 100%;
        margin-top: 19px;
    }

    &_official {
        font-weight: 400;
        font-size: 13px;
        color: #FFFFFF;
        opacity: 0.5;
        margin-top: 6px;
    }

    &_call {
        font-weight: 300;
        font-size: 12px;
        color: #FFFFFF;
        margin-top: 19px;
        text-align: right;
    }

    &_phone {
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        display: block;
        text-align: right;
        text-transform: uppercase;
        margin-top: 16;
        color: #FFFFFF;
    }

    .subheader_btn {
        width: 172px;
        height: 46px;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
        background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
        background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
        -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
        box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border: none;
        margin-top: 19px;
        @include btn;
    }
}



.promo {
    min-height: 800px;
    background: url("../img/uber_bg.png") center (center / cover) no-repeat;
    padding: 150px 0 135px 0;
    .promo_btn {
        width: 172px;
        height: 46px;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
        background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
        background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
        -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
        box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border: none;
        margin-top: 19px;
        @include btn;
    }

    &_header {
        font-weight: 700;
        font-size: 60px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        line-height: 60px;
        margin: 0;
    }

    &_subheader {
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        line-height: 36px;
        margin: 0;
        margin-top: 22px;
    }

    &_descr {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 23px;
    }

    &_btn {
        display: block;
        margin: 115px auto 0;
        width: 259px;
        height: 63px;
        font-weight: 400;
        font-size: 18px;
    }
}

.reasons {
    padding: 71px 0 65px 0;
}

.label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: $laberColors;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.subtitle {
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #222222;
    margin: o auto;
}

.reasons{
    padding: 71px 0 65px 0
}
.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;

    .reasons_round {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 26px;
        width: 113px;
        height: 113px;
        background-color: #1eacc7;
        border-radius: 100%;
    }

    .reasons_descr {
        width: 343px;

        .reasons_subtitle {
            line-height: 21px;
            color: #1eacc7;
            font-size: 17px;
            font-weight: 400;
        }

        .reasons_text {
            color: #202020;
            font-size: 15px;
            font-weight: 300;
            line-height: 21px;
        }
    }
}

.mobile {
    min-height: 865px;
    padding: 48px 0 80px 0;
    background: url('../img/mobile_bg.png');

    .row {
        margin-top: 30px;
    }

    .mobile_item {
        width: 320px;
        height: 280px;
        margin: 0 auto;
        margin-bottom: 20px;
        position: relative;

        &_1 {
            background: url('../icons/6/card_1.jpg');
        }

        &_2 {
            background: url('../icons/6/card_2.jpg');
        }

        &_3 {
            background: url('../icons/6/card_3.jpg');
        }

        &_4 {
            background: url('../icons/6/card_4.jpg');
        }

        &_5 {
            background: url('../icons/6/card_5.jpg');
        }

        &_6 {
            background: url('../icons/6/card_6.jpg');
        }

        &_subtitle {
            font-weight: 400;
            font-size: 24px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            padding-top: 88px;
        }

        &_plus {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 34px;
            left: 50%;
            transform: translateX(-50%);
            width: 26px;
            height: 26px;
            background: #000000;
            border-radius: 100%;
            padding: 6px;

            &:before {
                content: '';
                display: block;
                width: 14px;
                height: 2px;
                background-color: $mainColor;
                transition: 0.3s all;
            }

            &:after {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                content: '';
                display: block;
                height: 14px;
                width: 2px;
                background-color: $mainColor;
                transition: 0.3s all;
            }

            &:hover {

                &:before,
                &:after {
                    background-color: #ff5656;
                }
            }
        }

    }
}

// .choice {
//     position: relative;
//     min-height: 895px; 
//     padding: 57px 0 138px 0; 
//     background: url('../img/bg/mobile_app.png') center (center / cover) no-repeat; 
//     .choice_img {
//         position: relative;
//         display: block;
//         margin: 56px auto 0 auto;
//         z-index: 1;
//     }
//     .choice_descr{
//         text-align: center;
//         color: #222222;
//         font-size: 17px;
//         font-weight: 300;
//         line-height: 24px;
//     }
//     .black {
//         position: absolute;
//         top: 0;
//         left: 0;
//         height: 499px;
//         width: 100%;
//         background-color: #070716;
//         z-index: 1;
//     }
// }

.choice {
    min-height: 900px;
    position: relative;

    .choice_bgcolor {
        min-height: 503px;
        width: 100%;
        background: #070716;
        overflow: auto;
    }

    &_avtoing {
        width: 759px;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &_bgimg {
        min-height: 397px;
        background: url('../img/bgchoice.png');
        overflow: auto;

        &_descr {
            margin: 0 auto;
            text-align: center;
            width: 327px;
            height: 49px;
            font-weight: 300;
            font-size: 17px;
            color: #222222;
            margin-top: 210.5px;
        }
    }
}

.label_white {
    background: #FFFFFF;
    color: $laberColorsDark;
    margin-top: 59px;
}

.title_white {
    margin-top: 27px;
    color: #FFFFFF;
}

.subtitle_white {
    color: #FFFFFF;
    margin-bottom: 54px;
}

.require {
    padding: 64px 0 76px 0;

    &_block {
        margin: 33px 0;

        &_dscr {
            font-weight: 300;
            font-size: 17px;
            color: #1CA8C3;
        }

        &_nmb {
            margin-bottom: 0px;
        }
    }

    &_title {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 22px;
        color: #1CA8C3;
    }

    &_list {
        list-style-type: none;
        padding-left: 50px;
        margin-top: 22px;

        li {
            position: relative;
            font-weight: 300;
            font-size: 17px;
            line-height: 24px;
            margin-bottom: 10px;

            &:before {
                content: '';
                position: absolute;
                left: -32px;
                top: 3px;
                width: 21px;
                height: 20px;
                background: url('../icons/check_blue.svg') center (center / cover) no-repeat;

            }
        }
    }
}

.warning {
    .require_title {
        color: $secondColor;
    }

    .require_list {
        li {
            &:before {
                background: url('../icons/check_red.svg') center (center / cover) no-repeat;
            }
        }
    }
}

.world {
    min-height: 720px;
    padding: 50px 0;
    position: relative;
    background: url('../img/world_bg.png') no-repeat center #080816;

    .label_white {
        margin-top: 0px;
    }

    &_link {
        text-decoration: none;
        color: #1FBAD6;
        text-transform: uppercase;
        position: absolute;
        bottom: 21.5px;
        height: 70px;
        width: 225px;
        font-weight: 400;
        text-align: center;
        font-size: 15px;
        line-height: 68px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.footer {
    min-height: 215px;
    background: #fff;
    position: relative;

    &_divider {
        width: 307.26px;
        height: 7px;
        background: #1FBAD6;
        margin: 0 auto;
        margin-top: 24px;
    }

    &_media {
        position: absolute;
        min-height: 35px;
        min-width: 160px;
        top: 61px;
        margin: 0 auto;
        margin-left: 2px;
        display: flex;
        justify-content: space-between;

        div {
            height: 35px;
            width: 35px;
            border-radius: 100%;
            background: #000;

            img {
                display: block;
                margin: 0 auto;
                margin-top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .footer_links {
        min-height: 120px;
        min-width: 425px;
        position: absolute;
        left: 50%;
        top: 34px;
        transform: translateX(-50%);

        a {
            text-decoration: none;
            text-transform: uppercase;
            line-height: 33px;
        }

        a:hover {
            text-decoration: underline;
        }

        .main_link {
            color: #070716;
            font-weight: 300;
            font-size: 15px;
        }

        .sub_link {
            color: #999999;
            font-weight: 300;
            font-size: 11px;
        }

        .lang_link {
            font-weight: 400;
            font-size: 11px;
            color: #1FBAD6;
        }

        &_main {
            display: flex;
            justify-content: space-around;
        }

        &_sub {
            display: flex;
            justify-content: space-around;
        }

        &_lang {
            display: flex;
            justify-content: center;
        }
    }

    .footer_mobile {
        min-height: 27px;
        min-width: 303px;
        position: absolute;
        top: 64px;
        right: 0px;
        margin-right: 5px;

        a {
            text-decoration: none;
        }

        .sign {
            min-height: 27px;
            min-width: 97px;
            margin-right: 7px;
            background: url('../img/links.png');
            display: inline-block;
        }

        .footer_mobile_google {
            background-position: -104px 0;
        }

        .footer_mobile_windows {
            background-position: -206px 0;
            margin-right: 0px;
        }
    }
}

.xs-visible{
    display: none;
}
